@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

* {
   margin: 0; 
   padding: 0;
   list-style: none;
   font-family: 'Roboto';
}

body{
    /* height: 100svh; */
}
section{
    background-color: #1F2937;
    padding: 20px 130px;
}

section nav{
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    
}
nav ul{
    display: flex;
    gap: 30px;
}
header img{
    width: 35px;
}

.odinland{
    display: flex;
    align-items: center;
    color: #F9FAF8;
    margin: 50px 0px;
}

.odinland img{
    width: 320px;
    height: 200px;
    object-fit: cover;
    object-position: 0 10px ;
}

.odinland h1{
    font-size: 48px;
    width: 60%;
    font-weight: bold;
}

.odinland :nth-child(2){
    padding: 15px 0px;
    font-weight: lighter;
    width: 80%;
}

.odinland button {
    background: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px 30px;
}

.cardSection{
    display: flex;
    justify-content: center;
    margin: 35px 0px;
    gap: 20px;
}

.odinImages{
    margin-top: 20px;
    text-align: center;
}

.card{
    border: 1px solid #3882f6;
}

.card img{
    width: 220px;
    height: 220px;
    object-fit: fill;
}

.aQuote{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    background-color: #E5E7EB;
}

.aQuote p{
    margin: 0 auto;
    width: 60%;
    text-align: left;
    font-style: italic;
    font-size: 36px;
}

.aQuote h5{
    margin-left: 30%;
    text-align: right;
}

.blue{
    background-color: #3882f6;
    margin: 50px 130px;
    color: #F9FAF8;
    display: flex;
    border-radius: 8px;
    align-items: center;
    gap: 30px;
    justify-content: center;
    padding: 30px 25px;
}

.blue button{
    background-color: #3882f6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 8px;
    padding: 8px 30px;
}

footer{
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color:#1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 10px 0px;
}